* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url(../css/HelveticaNeue-Thin.otf);
}

body {
  font-family: "HelveticaNeue-Thin", sans-serif;
}

.main-section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(204, 51, 51, 0.63)), to(rgba(204, 51, 51, 0.63))), url(../images/hero-bg.png);
  background-image: linear-gradient(to right, rgba(204, 51, 51, 0.63), rgba(204, 51, 51, 0.63)), url(../images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 965px;
  overflow: hidden;
  background-attachment: fixed;
}

.main-section .container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 45px;
}

.main-section .container .navbar .navbar-toggler {
  outline: 0;
}

.main-section .container .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.main-section .container .navbar .collapse .navbar-nav .nav-item {
  border-bottom: 2px solid transparent;
}

.main-section .container .navbar .collapse .navbar-nav .nav-item:hover {
  border-color: #fff;
}

.main-section .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}

@media screen and (min-width: 922px) {
  .main-section .container .content {
    margin-top: 135px;
  }
}

.main-section .container .content .left-column {
  padding-right: 0;
  text-align: center;
}

@media screen and (min-width: 922px) {
  .main-section .container .content .left-column {
    width: 58%;
    padding-right: 80px;
    text-align: unset;
  }
}

.main-section .container .content .left-column h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 52px;
}

.main-section .container .content .left-column p {
  color: #fff;
  font-size: 36px;
  padding-top: 60px;
}

.main-section .container .content .left-column button.btn {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 35px;
  border-radius: 100px;
  margin-top: 75px;
  margin: 0 auto;
}

@media screen and (min-width: 922px) {
  .main-section .container .content .left-column button.btn {
    margin-top: 55px;
    margin-left: 0;
  }
}

.main-section .container .content .left-column button.btn img {
  margin-right: 25px;
}

.main-section .container .content .left-column button.btn span {
  text-transform: uppercase;
  font-weight: bold;
}

.main-section .container .content .right-column {
  display: none;
}

@media screen and (min-width: 922px) {
  .main-section .container .content .right-column {
    display: block;
  }
}

.main-section .container .content .right-column .images-wrapper {
  position: relative;
  width: 42%;
}

.main-section .container .content .right-column .images-wrapper img.iphone-on {
  position: absolute;
  top: 125px;
  /* right: -209px; */
  left: 88px;
}

.main-section .container .content .right-column .images-wrapper img.iphone-on.animated {
  opacity: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.main-section .container .content .right-column .images-wrapper img.iphone-on.fadeIn {
  opacity: 1;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.main-section .container .content .right-column .images-wrapper img.iphone-btn {
  position: absolute;
  /* right: 15px; */
  left: 325px;
  top: 0px;
}

#app-feature .container {
  width: 100%;
  max-width: 1100px;
  margin: 90px auto;
}

#app-feature .container h2 {
  text-align: center;
  font-size: 52px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: bold;
  color: #8a8a8a;
}

#app-feature .container p {
  /* text-align: center; */
  width: 56%;
  text-align: center;
  margin: 35px auto 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #797979;
  line-height: 1.5;
}

#app-feature .container .wrapper-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 922px) {
  #app-feature .container .wrapper-contain {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#app-feature .container .wrapper-contain .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 922px) {
  #app-feature .container .wrapper-contain .box {
    width: 32%;
    padding-bottom: unset;
  }
}

#app-feature .container .wrapper-contain .box h3 {
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  margin: 35px 0 40px;
}

#app-feature .container .wrapper-contain .box p {
  width: 56%;
  text-align: center;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #797979;
  line-height: 1.5;
}

#nose-bg {
  background-image: url(../images/nose-bg.png);
  background-size: cover;
}

#nose-bg .container {
  width: 100%;
  max-width: 1100px;
  padding-top: 200px;
  margin: 0 auto;
}

#nose-bg .container h1 {
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 700;
  width: 65%;
  font-family: Montserrat;
}

#nose-bg .container h1 .red-title {
  color: #f55150;
}

#nose-bg .container h1 span {
  color: #fff;
}

#nose-bg .container p {
  font-size: 24px;
  width: 43%;
  margin-top: 60px;
  line-height: 1.5;
}

#nose-bg .container button {
  background-color: #d9332d;
  padding: 20px 25px;
  border-radius: 100px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin: 75px 20px;
}

#footer {
  background-color: #2e2e38;
}

#footer .container {
  color: #fff;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px;
  padding-bottom: 150px;
}

#footer .container .logo-img {
  margin-bottom: 75px;
}

#footer .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 922px) {
  #footer .container .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#footer .container .content .col {
  margin-bottom: 30px;
}

@media screen and (min-width: 922px) {
  #footer .container .content .col {
    width: 28%;
    margin-bottom: unset;
  }
}

#footer .container .content .col.col-2-wrapper .hour {
  font-size: 11px;
}

#footer .container .content .col.col-3-wrapper p {
  line-height: 1.5;
  font-style: italic;
}

#footer .container .content .col h3 {
  font-size: 20px;
  font-weight: 700;
}

#footer .container .content .col .part-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .container .content .col .part-1 .rectangle {
  width: 55px;
  height: 45px;
  background: #e74c3c;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */